<h1>Credits</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Sum</th>
      <th>Period</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.user.email %></td>
        <td><%= credit.sum %></td>
        <td><%= credit.period %></td>
        <!-- <td><%#= select_tag :status, options_for_select(["pending","approved"]) %></td> -->
        <td><%= credit.status %></td>
        <% end %>
      <% end %>
  </tbody>
</table>
