<h1>Editing Admin Credit</h1>

<%= render partial: 'form', locals: {path: admin_credit_path(@admin_credit), method: :patch} %>

<%= link_to 'Show', @admin_credit %> |
<%= link_to 'Back', admin_credits_path %>
